.hero {
    color: #FFFFFF;
    background-color: #2E2F42;
    padding: 188px 0;

}

.hero-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
    text-align: center;
}

.hero-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    border-radius: 4px;
    width: 169px;
    cursor: pointer;
    padding: 16px 32px;
    display: block;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}